<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadeus API Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
    <label for="#one-way">One-Way</label>
    <input type="radio" name="radio" id="one-way">
    <label for="#round-trip">Round-Trip</label>
    <input type="radio" name="radio" id="round-trip">
    <label for="#max_price">Max Price(in USD)</label>
    <input type="text" id="max_price">
    <label for="#destination">Destination</label>
    <input type="text" id="destination">
    <button id="submit">Submit</button>
<div>
    <p id="results">

</p>
</div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./amadeus.js"></script>
</body>
</html>